.navbar-dark .navbar-brand{
    color: #79C4CD;
    font-size: 36px;
    font-family: satisfy;
    margin-left: 30px;
    font-weight: 300;
}

@media screen and (max-width:600px){
    .navbar-dark .navbar-brand {
        font-size: 24px;
    }

}
.navbar-dark .navbar-brand:hover{
    color:#79C4CD;
}




.navbar-dark .navbar-nav .nav-link{
    font-family: oswald;
    font-size: 24px;
    color: #C9AA8B;
    padding-right: 30px;
    
    
    
}

.nav-item1{
    margin-right: 50px;
}


.bg-dark{
    background-color: #0C1B1D !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#DC4625;
}

.dropdown-menu {
    background-color: #0C1B1D !important;
}

.dropdown-item{
    color: #C9AA8B;
    font-size: 20px;

}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    background-color:#DC4625;
}

.hero{
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/oldwall.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-color: #A6D8DD;
} 

@media screen and (max-width:600px) {
    .hero {
        height: 350px;
    }
}
.hero .talk img {
    width: 200px;
        float: right;
        margin-right: 200px;
        margin-top: 180px;
}
        
@media screen and (max-width:600px) {
    .hero .talk img {
        width: 80px;
        margin-right: 60px;
        margin-top: 50px;
    }
}      
        
 .hero .text h1 {
    font-family: caveat;
    font-size: 56px;
    margin-left: 200px;
    padding-top: 80px;
    color: #0C1B1D;
 }    
    
 @media screen and (max-width:600px) {
     .hero .text h1 {
         font-size: 36px;
         margin-left: 60px;
         padding-top: 50px;

     }
 }  

.hero .text p{
    /* color: black;
    font-family: caveat;
    font-size: 36px;
    margin: 15px;
    display: flex;
    justify-content:flex-end;
    padding-right: 770px;
    padding-bottom: 5px;
    padding-top: 150px; */ 
    font-family: caveat;
    font-size: 56px;
    margin-left: 200px;
    padding-top: 20px;
    color: #0C1B1D;
    
        
    
} 

@media screen and (max-width:600px) {
    .hero .text p {
        font-size: 24px;
        margin-left: 60px;
        padding-top: 10px;
    }
}

.card-footer {
    background-color: #0C1B1D;
}
.footer {
    font-size: 18px;
    font-family: oswald;
    margin-top: 0px;
    background-color: #0C1B1D;
    height: 200px;
    
}

@media screen and (max-width:600px) {
    .footer {
        margin-top: 0px;
        
        
    }
}



.email {
    height: 60px;
    width: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 107px; */
    float: left;
    margin-left: 50px;
    bottom: -70px;

}

@media screen and (max-width:600px) {
    .email{
      margin-left: 60px;
      width: 35px;
      height: 50px;
        
    }
}

.facebook {
    height: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 100px; */
    float: left;
    bottom: -78px;
    
}

@media screen and (max-width:600px) {
    .facebook{
        height: 38px;
        bottom: -75px;
     
        
    }
}

.linkedin {
    height: 45px;
    margin: 5px;
    position: relative;
    /* bottom: 100px; */
    float: left;
    bottom: -78px;
}

@media screen and (max-width:600px) {
    .linkedin {
        height: 38px;
        bottom: -75px;
        

    }
}

.copyright {
    height: 20px;
    margin-top: 77px;
    padding-left: 1095px;


    
}

@media screen and (max-width:600px) {
    .copyright {
        height: 25px;
        padding-left: 68px;
        margin-top: 62px;
        
        

    }
}



h6 {
    font-family: oswald;
    font-size: 18px;
    float: right;
    margin-right: 50px;
    font-weight: 100;
    color: #C9AA8B; 
    line-height: 4;
    margin-top: 50px;
    

}

@media screen and (max-width:600px) {
    h6 {
        font-size: 18px;
        margin-top: 0px;
        padding-top: 35px;
        margin-right: 70px;
        
    
    }
}